<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello world</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{ message }}
    </div>

<script>
    // 感觉Vue将将数据显示和dom控制反过来了，我们只需要去操作我们的数据即可，而无需关系心dom怎么变
    var app = new Vue({
        // el 可以使用css 选择器
        el: '#app',
        data:{
            message: 'Hello world!, hello vue!'
        }
    })

</script>
</body>
</html>