<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for指令</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="list-rendering">
<!--        表示一个有序的列表-->
        <ol>
<!--            相当于是循环一个列表中的对象，将todo对象的text域放在此处
-->
            <li v-for="(todo, index) in todos">
                {{ index }}: {{ todo.text }}
            </li>
        </ol>

        <li v-for="n in eventNumbers" :key="n">{{ n }}</li>
    </div>

    <script>
        const ListRendering = {
            data() {
                return {
                    todos : [
                        { text: 'Learn JavaScript' },
                        { text: 'Learn Vue' },
                        { text: 'Build something awesome' }
                    ],
                    numbers: [1,2,3,4,5,6]
                }
            },
            computed: {
                eventNumbers() {
                    return this.numbers.filter(item => item % 2 === 0)
                }
            }
        }

        vm = Vue.createApp(ListRendering).mount('#list-rendering');
    </script>
</body>
</html>