<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dynamic_component</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="dynamic-component-demo" class="demo">
        <button
                v-for="tab in tabs"
                :key="tab"
                :class="['tab-button', {active: currentTab === tab}]"
                @click="currentTab = tab"
        > {{ tab }} </button>

        <!--currentTabComponent 可以是一个已注册组件的名字，或者一个组件的选项对象-->
        <component :is="currentTabComponent" class="tab"></component>
    </div>



    <script>
        const app = Vue.createApp({
            data() {
                return {
                    currentTab: 'Home',
                    tabs: ['Home', 'Posts', 'Archive']
                }
            },
            computed: {
                currentTabComponent() {
                    return 'tab-' + this.currentTab.toLowerCase()
                }
            }
        })

        app.component('tab-home', {
            template: `
            <div class="demo-tab"> Home Component </div>
            `
        })
        app.component('tab-posts', {
            template: `
            <div class="demo-tab"> Posts Component </div>
            `
        })
        app.component('tab-archive', {
            template: `
            <div class="demo-tab"> Archive Component </div>
            `
        })

        app.mount('#dynamic-component-demo')
    </script>
</body>
</html>
