<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>watch_example</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
</head>
<body>

    <div id="watch-example">
        <p>
            Ask a yes/no question:
            <input v-model="question"/>
        </p>
        <p>{{ answer }}</p>
    </div>

    <script>
    const watchExampleVm = Vue.createApp({
        data() {
            return {
                question: '',
                answer: 'Questions usually contain a question mark. ;-)'
            }
        },
        // 监听器
        watch: {
            // whenever question changes. this function will run.
            question(newQuestion, oldQuestion) {
                if (newQuestion.indexOf('?') > -1) {
                    this.getAnswer()
                }
            }
        },
        methods: {
            getAnswer() {
                this.answer = 'Thing .....'
                axios
                .get('https://yesno.wtf/api')
                .then(response => {
                    this.answer = response.data.answer
                })
                .catch(error => {
                    this.answer = 'Error! Could not reach the api' + error
                })
            }
        }
    }).mount('#watch-example');
    </script>
</body>
</html>